streamlit
pandas
openai
langchain
langchain-experimental
langchain-community
python-dotenv
tabulate
langchain-openai
langchain-experimental>=0.0.63
streamlit>=1.36
pandas>=2.2.2
python-dotenv>=1.0.1
langchain==0.2.11
langchain-openai==0.1.8
langchain-experimental==0.0.64

